In [1]:
import pandas as pd
import numpy as np

In [7]:
ec = pd.read_csv("전기자동차등록현황2.csv", encoding = "UTF-8")

In [8]:
#pd.set_option('display.max_colwidth', -1) # 각 Column width 최대로

pd.set_option('display.max_rows', 100000)
pd.set_option('display.max_columns', 100)

In [19]:
ec.iloc[:2, :20]

,차명,모델연도,사용본거지주소,매칭주소,새우편번호,지번주소 상위부분,지번주소 하위부분,새주소 상위부분,새주소 하위부분,주소정제결과코드,지번코드,새주소 건물관리번호,광역시도코드,광역시도명,시군구코드,시군구명,비자치행정구역코드,3차행정구역명,법정동코드,법정동명
0,코나 일렉트릭 (KONA ELECTRIC),2019,인천광역시 강화군 선원면 중앙로 219,인천광역시 강화군 선원면 중앙로 219,23041.0,인천광역시 강화군 선원면 창리,587번지,인천광역시 강화군 선원면 중앙로,"219, (창리)",1,2.870000e+18,2.870000e+24,28,인천광역시,28710,강화군,NaN,NaN,2.871031e+09,선원면
1,CHEVROLET BOLT EV,2019,"인천광역시 부평구 길주로508번길 18-22, 17동 403호 (청천동, 세종대원빌라)",인천광역시 부평구 길주로508번길 18-22,21364.0,인천광역시 부평구 청천동,301-11번지 세종대원빌라 403호,인천광역시 부평구 길주로508번길,"18-22, 403호 (청천동, 세종대원빌라)",1,2.820000e+18,2.820000e+24,28,인천광역시,28237,부평구,NaN,NaN,2.823710e+09,청천동

In [18]:
ec.iloc[:2, 20:]

,행정동코드,행정동명,리명,건물명,동명,호명,층,지목,주번지,부번지,X좌표,Y좌표,새주소 길이름,새주소 주건물번호,새주소 부건물번호,구우편번호,도로명길코드,지상지하구분,새주소건물명,블록코드,새주소변환코드
0,2.871031e+09,선원면,창리,NaN,NaN,NaN,NaN,1,587,0,126.485000,37.725428,중앙로,219,0,417820.0,2.870000e+11,0,선진버스(주)강화지점,NaN,0
1,2.823759e+09,청천2동,NaN,세종대원빌라,동명없음1,403,NaN,1,301,11,126.718179,37.507173,길주로508번길,18,22,403858.0,2.820000e+11,0,세종대원빌라,NaN,0

### => 사용할 Columns : 차명, 모델연도,  사용본거지주소, 새우편번호, 주소정제결과코드, 시군구코드, 시군구명, 법정동코드, 법정동명, 행정동코드, 행정동명, X좌표, Y좌표, 새주소변환코드

In [31]:
ec.columns

Index(['차명', '모델연도', '사용본거지주소', '매칭주소', '새우편번호', '지번주소 상위부분', '지번주소 하위부분',
       '새주소 상위부분', '새주소 하위부분', '주소정제결과코드', '지번코드', '새주소 건물관리번호', '광역시도코드',
       '광역시도명', '시군구코드', '시군구명', '비자치행정구역코드', '3차행정구역명', '법정동코드', '법정동명',
       '행정동코드', '행정동명', '리명', '건물명', '동명', '호명', '층', '지목', '주번지', '부번지',
       'X좌표', 'Y좌표', '새주소 길이름', '새주소 주건물번호', '새주소 부건물번호', '구우편번호', '도로명길코드',
       '지상지하구분', '새주소건물명', '블록코드', '새주소변환코드'],
      dtype='object')

In [36]:
len(ec["구우편번호"].unique())

481

In [37]:
ec["구우편번호"].isnull().sum()

91

In [40]:
ec2 = ec.loc[:,["차명", "모델연도",  "사용본거지주소", "새우편번호", "주소정제결과코드", "시군구코드", "시군구명", "법정동코드", "법정동명", "행정동코드", "행정동명", "X좌표", "Y좌표", "새주소변환코드"]]

In [41]:
ec2.head(1)

,차명,모델연도,사용본거지주소,새우편번호,주소정제결과코드,시군구코드,시군구명,법정동코드,법정동명,행정동코드,행정동명,X좌표,Y좌표,새주소변환코드
0,코나 일렉트릭 (KONA ELECTRIC),2019,인천광역시 강화군 선원면 중앙로 219,23041.0,1,28710,강화군,2.871031e+09,선원면,2.871031e+09,선원면,126.485,37.725428,0

In [42]:
ec2.describe()

,모델연도,새우편번호,주소정제결과코드,시군구코드,법정동코드,행정동코드,X좌표,Y좌표,새주소변환코드
count,1898.000000,1864.000000,1898.000000,1.898000e+03,1.864000e+03,1.865000e+03,1863.000000,1863.000000,1898.000000
mean,2017.849315,22096.918455,1.090095,4.899693e+07,2.824666e+09,2.824739e+09,126.652782,37.488205,0.028451
std,1.666265,592.319508,0.660503,3.682274e+08,1.430323e+07,1.432539e+07,0.085253,0.084917,0.211009
min,2005.000000,21003.000000,1.000000,2.811000e+04,2.811011e+09,2.811052e+09,126.144700,37.227673,0.000000
25%,2017.000000,21589.000000,1.000000,2.818500e+04,2.818511e+09,2.818582e+09,126.639823,37.426161,0.000000
50%,2018.000000,22008.000000,1.000000,2.820000e+04,2.820011e+09,2.820071e+09,126.665984,37.487449,0.000000
75%,2019.000000,22687.250000,1.000000,2.826000e+04,2.826011e+09,2.826053e+09,126.715566,37.533518,0.000000
max,2020.000000,23130.000000,6.000000,2.826000e+09,2.872037e+09,2.872037e+09,126.755510,37.811803,3.000000

In [43]:
ec2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 14 columns):
차명          1898 non-null object
모델연도        1898 non-null int64
사용본거지주소     1898 non-null object
새우편번호       1864 non-null float64
주소정제결과코드    1898 non-null int64
시군구코드       1898 non-null int64
시군구명        1898 non-null object
법정동코드       1864 non-null float64
법정동명        1864 non-null object
행정동코드       1865 non-null float64
행정동명        1865 non-null object
X좌표         1863 non-null float64
Y좌표         1863 non-null float64
새주소변환코드     1898 non-null int64
dtypes: float64(5), int64(4), object(5)
memory usage: 207.7+ KB

In [44]:
ec2.isnull().sum()

차명           0
모델연도         0
사용본거지주소      0
새우편번호       34
주소정제결과코드     0
시군구코드        0
시군구명         0
법정동코드       34
법정동명        34
행정동코드       33
행정동명        33
X좌표         35
Y좌표         35
새주소변환코드      0
dtype: int64

In [59]:
ec2['새우편번호'][ ec2['새우편번호'].isnull() == 1].index

Int64Index([  29,   64,  178,  204,  211,  225,  381,  518,  555,  607,  675,
             798,  875,  935,  937, 1049, 1092, 1208, 1249, 1329, 1347, 1376,
            1444, 1502, 1575, 1626, 1674, 1679, 1682, 1698, 1757, 1795, 1860,
            1873],
           dtype='int64')

In [60]:
ec2['행정동코드'][ ec2['행정동코드'].isnull() == 1].index

Int64Index([  29,   64,  178,  204,  211,  225,  381,  518,  555,  607,  675,
             798,  875,  935,  937, 1049, 1092, 1208, 1249, 1329, 1347, 1376,
            1444, 1502, 1575, 1674, 1679, 1682, 1698, 1757, 1795, 1860, 1873],
           dtype='int64')

In [62]:
ec2.to_csv("자동차등록현황_columns_선택.csv", encoding = "CP949")