In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("1.3_토지소유지정보.csv", encoding = "CP949")
df.head(1)

                    A0          A1                 A2  A8
0  2871041025102930004  2871041025  인천광역시 강화군 삼산면 매음리  개인

In [5]:
df['A8'].unique()

array(['개인', nan, '군유지', '국유지', '시, 도유지', '법인', '일본인, 창씨명등', '기타단체',
       '종교단체', '종중', '외국인, 외국공공기관'], dtype=object)

# 군유지 국유지 시&도유지 => 국공유지

# 법인 개인 일본인 창씨명등 => 사유지

# => 색 다르게

In [ ]:
df['New'] = list(map(lambda x : 
                     (if( (x == '국유지') | (x == '시, 도유지') | (x == '군유지')) :
                      '국공유지'), df['A8']))

In [ ]:
(df.iloc[i,3] == '국유지') | (df.iloc[i,3] == '시, 도유지') | (df.iloc[i,3] == '군유지')

In [35]:
if ( df.iloc[12365,3] is None ) :
    print(1)
else :
    print(0)

0

In [37]:
type(df.iloc[12365,3])

float

In [45]:
np.isnan(df.iloc[12365,3])

True

In [50]:
x = []
t = []
for i in range(len(df)) :
    if ( (df.iloc[i,3] == '개인') | (df.iloc[i,3] == '법인') | (df.iloc[i,3] == '일본인, 창씨명등') | (df.iloc[i,3] == '기타단체') | (df.iloc[i,3] =='종교단체') | (df.iloc[i,3] == '종중') | (df.iloc[i,3] == '외국인, 외국공공기관')) :
        x.append('사유지')
        t.append(0)
    elif ( (df.iloc[i,3] == '국유지') | (df.iloc[i,3] == '시, 도유지') | (df.iloc[i,3] == '군유지') ) :
        x.append('국공유지')
        t.append(1)
    elif ( np.isnan(df.iloc[i,3]) ):
        x.append('미정')
        t.append(2)

In [51]:
pd.Series(x).unique()

array(['사유지', '미정', '국공유지'], dtype=object)

In [52]:
df['new'] = x
df['new1'] = t

In [53]:
df.head()

                    A0          A1                 A2   A8  new  new1
0  2871041025102930004  2871041025  인천광역시 강화군 삼산면 매음리   개인  사유지     0
1  2871041025110620024  2871041025  인천광역시 강화군 삼산면 매음리  NaN   미정     2
2  2871041025100620005  2871041025  인천광역시 강화군 삼산면 매음리   개인  사유지     0
3  2871041024105910000  2871041024  인천광역시 강화군 삼산면 석포리   개인  사유지     0
4  2871041024105740006  2871041024  인천광역시 강화군 삼산면 석포리   개인  사유지     0

In [54]:
#df.to_csv("01.03 토지소유갱신.csv", encoding = 'CP949', index = False)