In [1]:
import pandas as pd
import numpy as np

In [2]:
gh = pd.read_csv("집합건물_정보_격자250M.csv", encoding = "CP949")

ib = pd.read_csv("일반건물_정보_격자250M.csv", encoding = "cp949")

In [3]:
gh.head(1)

,gid,대지면적합,건축면적합,연면적합,용적율합,건폐율합,높이합,지상층수합,지하층수합,주차장수합,주차면적합,count
0,가사46aa99bb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ib.head(1)

,gid,대지면적합,건축면적합,연면적합,용적율합,건폐율합,높이합,지상층수합,지하층수합,주차장수합,주차면적합,count
0,가사46aa99bb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
gh2 = gh.fillna(0)
ib2 = ib.fillna(0)

In [6]:
gh2.head(1)

,gid,대지면적합,건축면적합,연면적합,용적율합,건폐율합,높이합,지상층수합,지하층수합,주차장수합,주차면적합,count
0,가사46aa99bb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
ib2.head(1)

,gid,대지면적합,건축면적합,연면적합,용적율합,건폐율합,높이합,지상층수합,지하층수합,주차장수합,주차면적합,count
0,가사46aa99bb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
gh2['count'].sum()

44617.0

In [10]:
38412

38412

In [9]:
ib2['count'].sum()

153779.0

In [11]:
137530

137530

In [12]:
ib_c = pd.read_csv("일반건물_정보_격자250M_contains.csv", encoding = "CP949")
ib_c.head(1)

,gid,대지면적합,건축면적합,연면적합,용적율합,건폐율합,높이합,지상층수합,지하층수합,주차장수합,주차면적합,count
0,가사46aa99bb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
ib_c2 = ib_c.fillna(0)
ib_c2.head(1)

,gid,대지면적합,건축면적합,연면적합,용적율합,건폐율합,높이합,지상층수합,지하층수합,주차장수합,주차면적합,count
0,가사46aa99bb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
ib_c2['count'].sum()

119818.0

In [17]:
test = pd.read_csv("test1.csv", encoding = "CP949")
test.head(1)

,gid,sumA22,sumA23,sumA24,sumA25,sumA26,sumA31,sumA32,sumA33,sumA36,sumA37,count
0,가사46aa99bb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
test2 = test.fillna(0)
test2['count'].sum()

0.0

In [3]:
ib3 = pd.read_csv("test2.csv", encoding = "cp949")

ib3 =ib3.fillna(0)
ib3.head(1)

,gid,sum대지면적,sum건축면적,sum연면적,sum용적율,sum건폐율,sum높이,sum지상층수,sum지하층수,sum주차면수,sum주차면적,sum건물넓이,count
0,가사46aa99bb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# 일반건물 : 754
ib3['count'].sum()

1098.0

In [5]:
gh3 = pd.read_csv("test3.csv", encoding = "CP949")
gh3 = gh3.fillna(0)
gh3.head(1)

,gid,sum대지면적,sum건축면적,sum연면적,sum용적률,sum건폐율,sum높이,sum지상층수,sum지하층수,sum주차면수,sum주차면적,sum건물넓이,count
0,가사46aa99bb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# 집합건물 : 2045
gh3['count'].sum()

2717.0