In [1]:
import pandas as pd
import numpy as np

### 충전소 버퍼 2km 내의 각 변수들의 개수

In [2]:
df_cor = pd.read_csv("인천시_2km_관공서_변압기_전기차_경제인구.csv", encoding = "CP949")
df_cor.head(1)

,충전소,충전량(kWh,충전일수,주소,X좌표,Y좌표,시군구명,관공서,변압기,전기차,경제인구
0,G-Tower(경제자유구역청),30259.44,408,인천광역시 연수구 아트센터대로 175,126.63379,37.39574,연수구,23,272,124,58789.0

In [3]:
df_cor2 = df_cor.loc[:, ['충전소','주소', '관공서', '변압기', '전기차', '경제인구', '충전량(kWh', '충전일수']]
df_cor2.head(1)

,충전소,주소,관공서,변압기,전기차,경제인구,충전량(kWh,충전일수
0,G-Tower(경제자유구역청),인천광역시 연수구 아트센터대로 175,23,272,124,58789.0,30259.44,408

In [4]:
df_cor2['일당충전량'] = df_cor2['충전량(kWh'] / df_cor2['충전일수']
df_cor3 = df_cor2.iloc[:, [0,1,2,3,4,5,6,8,7]]
df_cor3.head(2)

,충전소,주소,관공서,변압기,전기차,경제인구,충전량(kWh,일당충전량,충전일수
0,G-Tower(경제자유구역청),인천광역시 연수구 아트센터대로 175,23,272,124,58789.0,30259.44,74.165294,408
1,LH인천본부,인천광역시 남동구 논현로46번길 23,35,1595,81,69330.0,63815.83,104.274232,612

### 격자 내의 각 변수들의 개수

In [5]:
df = pd.read_csv("19.12.03_격자의 변수별 개수.csv", encoding = "CP949")
df.head(1)

          gid  경제인구수  민행기  도서관  변압기  전기차  총충전량  충전일  충전소  관공서
0  가사46aa99bb    0.0    0    0    0    0   0.0  0.0  0.0    0

In [6]:
df2 = df.loc[:, ['관공서', '변압기', '전기차', '경제인구수','총충전량']]

# 상관관계 도출

In [7]:
# 주차면 변수 없음
value = df_cor3.iloc[:,2:-2].corr()
value = pd.DataFrame(value.iloc[-1, :])
print(value.shape, type(value))
value

(5, 1) <class 'pandas.core.frame.DataFrame'>

          충전량(kWh
관공서      0.156370
변압기      0.187023
전기차      0.282420
경제인구     0.158872
충전량(kWh  1.000000

# 각 변수들의 값을 이용하여 Score 값 추출

## 변수 :  경제인구    관공서(민원행정기관 + 도서관)    변압기    전기차    주차면

df => (n X 5) * (5 X 1) => n X 1 => n개의 격자들의 Score 행

### Column별 MinMax 정규화

In [8]:
df3 = df2.copy()
for i in df2.columns :
    df3[i] = df2[i] / (df2[i].max() - df2[i].min())
df3.head()

   관공서  변압기  전기차  경제인구수  총충전량
0  0.0  0.0  0.0    0.0   0.0
1  0.0  0.0  0.0    0.0   0.0
2  0.0  0.0  0.0    0.0   0.0
3  0.0  0.0  0.0    0.0   0.0
4  0.0  0.0  0.0    0.0   0.0

In [9]:
df3.sort_values(['경제인구수'], ascending = False)

       관공서       변압기      전기차     경제인구수  총충전량
19057  0.0  0.013699  0.06250  1.000000   0.0
17909  0.0  0.020548  0.06250  0.723374   0.0
19148  0.0  0.054795  0.00000  0.684710   0.0
18776  0.0  0.157534  0.03125  0.684534   0.0
18089  0.2  0.027397  0.06250  0.650264   0.0
18843  0.0  0.047945  0.09375  0.640598   0.0
18871  0.2  0.054795  0.03125  0.608436   0.0
18090  0.2  0.013699  0.12500  0.607381   0.0
17805  0.0  0.020548  0.00000  0.606678   0.0
17157  0.2  0.027397  0.00000  0.592619   0.0
17363  0.2  0.013699  0.06250  0.590510   0.0
18113  0.0  0.006849  0.03125  0.585589   0.0
18599  0.2  0.102740  0.06250  0.579086   0.0
18309  0.0  0.020548  0.00000  0.570123   0.0
18011  0.2  0.020548  0.03125  0.560984   0.0
15511  0.0  0.000000  0.00000  0.557645   0.0
18320  0.0  0.068493  0.03125  0.553427   0.0
18780  0.0  0.150685  0.03125  0.552021   0.0
18026  0.4  0.013699  0.03125  0.551670   0.0
18488  0.0  0.013699  0.06250  0.546573   0.0
18775  0.0  0.130137  0.00000  0.544112   0.0
18210  0.0  0.013699  0.06250  0.541652   0.0
18505  0.0  0.095890  0.00000  0.536028   0.0
18795  0.0  0.020548  0.00000  0.535325   0.0
18777  0.0  0.047945  0.03125  0.534095   0.0
17989  0.0  0.075342  0.06250  0.533568   0.0
18708  0.0  0.061644  0.00000  0.533216   0.0
18617  0.0  0.020548  0.00000  0.532513   0.0
18293  0.0  0.020548  0.00000  0.525483   0.0
18958  0.0  0.054795  0.06250  0.524077   0.0
...    ...       ...      ...       ...   ...
6795   0.0  0.000000  0.00000  0.000000   0.0
6794   0.0  0.000000  0.00000  0.000000   0.0
6793   0.0  0.000000  0.00000  0.000000   0.0
6791   0.0  0.000000  0.00000  0.000000   0.0
6800   0.0  0.000000  0.00000  0.000000   0.0
6786   0.0  0.000000  0.00000  0.000000   0.0
6781   0.0  0.000000  0.00000  0.000000   0.0
6780   0.0  0.000000  0.00000  0.000000   0.0
6779   0.0  0.000000  0.00000  0.000000   0.0
6778   0.0  0.000000  0.00000  0.000000   0.0
6777   0.0  0.000000  0.00000  0.000000   0.0
6799   0.0  0.000000  0.00000  0.000000   0.0
6801   0.0  0.000000  0.00000  0.000000   0.0
6818   0.0  0.000000  0.00000  0.000000   0.0
6810   0.0  0.000000  0.00000  0.000000   0.0
6817   0.0  0.000000  0.00000  0.000000   0.0
6816   0.0  0.000000  0.00000  0.000000   0.0
6815   0.0  0.000000  0.00000  0.000000   0.0
6814   0.0  0.000000  0.00000  0.000000   0.0
6812   0.0  0.006849  0.00000  0.000000   0.0
6811   0.0  0.000000  0.00000  0.000000   0.0
6809   0.0  0.000000  0.00000  0.000000   0.0
6802   0.0  0.000000  0.00000  0.000000   0.0
6808   0.0  0.000000  0.00000  0.000000   0.0
6807   0.0  0.000000  0.00000  0.000000   0.0
6806   0.0  0.000000  0.00000  0.000000   0.0
6805   0.0  0.000000  0.00000  0.000000   0.0
6804   0.0  0.000000  0.00000  0.000000   0.0
6803   0.0  0.000000  0.00000  0.000000   0.0
19788  0.0  0.000000  0.00000  0.000000   0.0

[19789 rows x 5 columns]

In [10]:
SS = pd.DataFrame( np.array(df3).dot(np.array(value)))
SS

              0
0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
5      0.000000
6      0.000000
7      0.000000
8      0.000000
9      0.000000
10     0.000000
11     0.000000
12     0.000000
13     0.000000
14     0.000000
15     0.000000
16     0.000000
17     0.000000
18     0.000000
19     0.000000
20     0.000000
21     0.000000
22     0.000000
23     0.000000
24     0.000000
25     0.000000
26     0.000000
27     0.000000
28     0.000000
29     0.000000
...         ...
19759  0.047127
19760  0.001759
19761  0.001839
19762  0.000000
19763  0.000000
19764  0.000000
19765  0.000000
19766  0.000000
19767  0.002757
19768  0.002007
19769  0.000000
19770  0.000000
19771  0.000000
19772  0.000000
19773  0.000000
19774  0.000000
19775  0.000000
19776  0.000000
19777  0.001281
19778  0.000000
19779  0.000000
19780  0.000000
19781  0.000000
19782  0.000000
19783  0.000000
19784  0.000000
19785  0.000000
19786  0.000000
19787  0.000000
19788  0.000000

[19789 rows x 1 columns]

In [11]:
df3['Score'] = SS

In [12]:
df3.head(1)

   관공서  변압기  전기차  경제인구수  총충전량  Score
0  0.0  0.0  0.0    0.0   0.0    0.0

In [13]:
df3.sort_values(['Score'], ascending = False)

       관공서       변압기      전기차     경제인구수      총충전량     Score
17784  0.2  0.089041  0.34375  0.098243  0.921319  1.081936
18066  0.0  0.020548  0.00000  0.110369  1.000000  1.021377
17569  0.6  0.109589  0.03125  0.149033  0.840466  0.987286
16292  0.0  0.047945  0.21875  0.101230  0.857761  0.944590
15764  0.0  0.006849  0.18750  0.000000  0.888602  0.942837
16272  0.2  0.013699  0.00000  0.000000  0.833224  0.867060
14885  0.0  0.000000  0.00000  0.000000  0.806720  0.806720
16736  0.4  0.109589  0.00000  0.069069  0.695103  0.789120
18972  0.6  0.082192  0.15625  0.004921  0.586266  0.740369
16890  0.0  0.013699  0.00000  0.000000  0.716869  0.719431
15190  0.2  0.006849  0.00000  0.000000  0.654359  0.686914
18606  0.0  0.054795  0.34375  0.116169  0.553757  0.679543
18305  0.0  0.034247  0.00000  0.287873  0.571577  0.623717
16715  0.6  0.164384  0.93750  0.035852  0.222953  0.617983
16215  0.0  0.006849  0.00000  0.000000  0.566168  0.567449
11652  0.2  0.047945  0.12500  0.031459  0.458994  0.539535
15437  0.0  0.054795  0.12500  0.000000  0.479779  0.525329
14827  0.2  0.006849  0.06250  0.000000  0.474168  0.524374
16472  0.0  0.006849  0.00000  0.187170  0.486387  0.517404
16429  0.0  0.657534  0.03125  0.140422  0.361999  0.516108
18974  0.0  0.006849  0.03125  0.322320  0.438135  0.499449
13998  0.0  0.006849  0.00000  0.000000  0.472255  0.473536
11579  0.0  0.020548  0.00000  0.039543  0.456095  0.466220
16240  0.0  0.020548  0.00000  0.003691  0.450809  0.455238
14444  0.2  0.020548  0.71875  0.003866  0.209134  0.447854
11901  0.0  0.020548  0.00000  0.004218  0.435111  0.439624
18517  0.0  0.061644  0.00000  0.088225  0.412313  0.437859
6525   0.6  0.000000  0.00000  0.008612  0.331942  0.427132
15274  0.0  0.027397  0.00000  0.000000  0.393654  0.398778
15434  0.2  0.054795  0.00000  0.086819  0.316855  0.372170
...    ...       ...      ...       ...       ...       ...
6878   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6876   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6875   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6874   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6870   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6899   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6869   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6868   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6867   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6866   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6865   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6864   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6881   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6882   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6883   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6884   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6885   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6887   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6888   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6889   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6890   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6891   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6892   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6893   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6894   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6895   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6896   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6897   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
6898   0.0  0.000000  0.00000  0.000000  0.000000  0.000000
19788  0.0  0.000000  0.00000  0.000000  0.000000  0.000000

[19789 rows x 6 columns]

In [14]:
df3['gid'] = df.iloc[:,0]
df3

       관공서       변압기  전기차     경제인구수  총충전량     Score         gid
0      0.0  0.000000  0.0  0.000000   0.0  0.000000  가사46aa99bb
1      0.0  0.000000  0.0  0.000000   0.0  0.000000  가사46ab99ba
2      0.0  0.000000  0.0  0.000000   0.0  0.000000  가사46ab99bb
3      0.0  0.000000  0.0  0.000000   0.0  0.000000  가사46ba99ab
4      0.0  0.000000  0.0  0.000000   0.0  0.000000  가사46ba99ba
5      0.0  0.000000  0.0  0.000000   0.0  0.000000  가사46ba99bb
6      0.0  0.000000  0.0  0.000000   0.0  0.000000  가사46bb99ab
7      0.0  0.000000  0.0  0.000000   0.0  0.000000  가사46bb99ba
8      0.0  0.000000  0.0  0.000000   0.0  0.000000  가사46bb99bb
9      0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47aa99aa
10     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47aa99ab
11     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47aa99ba
12     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47aa99bb
13     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ab98ab
14     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ab98ba
15     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ab98bb
16     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ab99aa
17     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ab99ab
18     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ab99ba
19     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ab99bb
20     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ba97ab
21     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ba97ba
22     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ba97bb
23     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ba98aa
24     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ba98ab
25     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ba98ba
26     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ba98bb
27     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ba99aa
28     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ba99ab
29     0.0  0.000000  0.0  0.000000   0.0  0.000000  가사47ba99ba
...    ...       ...  ...       ...   ...       ...         ...
19759  0.2  0.068493  0.0  0.019156   0.0  0.047127  다사36ab53ba
19760  0.0  0.000000  0.0  0.011072   0.0  0.001759  다사36ab53bb
19761  0.0  0.006849  0.0  0.003515   0.0  0.001839  다사36ab54aa
19762  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36ba52ab
19763  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36ba52ba
19764  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36ba52bb
19765  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36ba53aa
19766  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36ba53ab
19767  0.0  0.013699  0.0  0.001230   0.0  0.002757  다사36ba53ba
19768  0.0  0.006849  0.0  0.004569   0.0  0.002007  다사36ba53bb
19769  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36ba54aa
19770  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36bb52bb
19771  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36bb53aa
19772  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36bb53ab
19773  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36bb53ba
19774  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36bb53bb
19775  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사36bb54aa
19776  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37aa53aa
19777  0.0  0.006849  0.0  0.000000   0.0  0.001281  다사37aa53ab
19778  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37aa53ba
19779  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37aa53bb
19780  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37aa54aa
19781  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37aa54ab
19782  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37ab53ab
19783  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37ab53ba
19784  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37ab53bb
19785  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37ab54aa
19786  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37ba53ab
19787  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37ba53ba
19788  0.0  0.000000  0.0  0.000000   0.0  0.000000  다사37ba53bb

[19789 rows x 7 columns]